.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-quarter {
  width: 25%;
}

.column-third {
  width: calc(100% / 3);
}
