body {
  background-color: #dbedf3;
}

header {
  width: 100%;
  background-color: #404b69;
}

.nav-container {
  background-color: #404b69;
}

i {
  color: white;
}

.nav-text {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 40px;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
}

.fa-home {
  font-size: 40px;
  padding: 20px;
  margin-top: 30px;
}

.fa-archive {
  font-size: 40px;
  padding: 20px;
  margin-top: 30px;
}

#splash {
  margin-top: -100px;
  width: 700px;
  height: 700px;
  color: black;
  padding: 0;
}

.splash-image {
  display: flex;
  justify-content: center;
  margin-bottom: -180px;
}

.splash-text {
  display: flex;
  justify-content: center;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  margin-bottom: -50px;
}

.splash-blurb {
  text-align: center;
  line-height: 2px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.get-started-btn {
  margin-top: 20px;
  background-color: #f73859;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 10px 40px;
  font-size: 40px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.tv-btn {
  margin-top: 20px;
  background-color: #f73859;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 1% 50px;
  font-size: 40px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.movie-btn {
  margin-top: 20px;
  background-color: #f73859;
  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 1% 10%;
  font-size: 40px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.oswald {
  font-family: Oswald, sans-serif;
}

.noto {
  font-family: Noto, sans-serif;
}

.text-align {
  text-align: center;
}

.watchlist-header {
  font-size: 70px;
  text-align: center;
  padding-left: 70px;
}

.watchlist-text {
  font-size: 20px;
}

.justify-content-center {
  display: flex;
  align-items: center;
}

.home-page-btns {
  text-align: center;
  padding: 5px 20px;
}

.movie-posters {
  padding: 10px 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.homepage-movies {
  display: flex;
  flex-wrap: wrap;
}

.tv-information {
  position: relative;
}

.generated-random-pick {
  margin-left: auto;
  margin-right: auto;
}

.tv-pick {
  padding: 10px;
  background-color: #404b69;
  height: 120vh;
  width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.tv-title {
  text-align: center;
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 35px;
}

.tv-starring {
  text-align: center;
  font-size: 20px;
  margin: 5px;
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.tv-plot {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: white;
  padding-top: 0;
  padding-bottom: 5%;
  font-size: 16px;
  position: relative;
}

.fa-plus-circle {
  position: absolute;
  right: 45%;
}

.pick-icons {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.tv-poster {
  height: 50vh;
  width: 100%;
  object-fit: contain;
}

.fa-times {
  position: absolute;
  color: black;
  bottom: 130px;
  right: 2px;
  font-size: 30px;
}

#home:hover {
  color: #f7385a;
}

.fa-times:hover {
  color: #f7385a;
}

.fa-archive:hover {
  color: #f7385a;
}

.fa-plus-circle:hover {
  color: rgb(0, 212, 0);
}

.overlay {
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-on {
  position: fixed;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0  / 80%);
}

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  width: 400px;
}

.popup-display {
  position: fixed;
  padding: 25px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  width: 600px;
  height: 200px;
}

.popup-header {
  position: relative;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}
